/* Colours for each different role, used in navigation and other places */

$des: #4286d4;
$dev: #d34d33;
$run: #14dd41;
$wri: #618341;
$mus: #c42828;
$rea: #140341;
$pho: #e610f7;
$hac: #702a41;

li.des, .des h1, .des h2 {
  background: $des;
}

li.dev, .dev h1, .dev h2 {
  background: $dev;
}

li.run, .run h1, .run h2 {
  background: $run;
}

li.wri, .wri h1, .wri h2 {
  background: $wri;
}

li.mus, .mus h1, .mus h2 {
  background: $mus;
}

li.rea, .rea h1, .rea h2 {
  background: $rea;
}

li.pho, .pho h1, .pho h2 {
  background: $pho;
}

li.hac, .hac h1, .hac h2 {
  background: $hac;
}

.content-header {
  border-top: 2px solid;
}

.des {
	.content-header {
		border-color: $des;
	}
	em, a {
	  color: $des;
	}
}

.dev {
  .content-header {
    border-color: $dev;
  }
  em, a {
    color: $dev;
  }
}

.run {
  .content-header {
    border-color: $run;
  }
  em, a {
    color: $run;
  }
}

.wri {
  .content-header {
    border-color: $wri;
  }
  em, a {
    color: $wri;
  }
}

.mus {
  .content-header {
    border-color: $mus;
  }
  em, a {
    color: $mus;
  }
}

.rea {
  .content-header {
    border-color: $rea;
  }
  em, a {
    color: $rea;
  }
}

.pho {
  .content-header {
    border-color: $pho;
  }
  em, a {
    color: $pho;
  }
}

.hac {
  .content-header {
    border-color: $hac;
  }
  em, a {
    color: $hac;
  }
}

// Section-specific colour coded links.

a.dev {
  color: $dev;
}

