/* Colours for each different role, used in navigation and other places */

$des: #4286d4;
$dev: #d33454;
$run: #4DD8D6;
$wri: #618341;

li.des, h1.des {
  background: $des;
}

li.dev, h1.dev {
  background: $dev;
}

li.run, h1.run {
  background: $run;
}

li.wri, h1.wri {
  background: $wri;
}

section {
	border-top: 2px solid;
	&.des {
		border-color: $des;
	}
	&.des em {
	  color: $des;
	}
	&.dev {
		border-color: $dev;
	}
	&.run {
		border-color: $run;
	}
	&.wri {
		border-color: $wri;
	}
}
