/* Colours for each different role, used in navigation and other places */

$des: #4286d4;
$dev: #d33454;
$run: #4DD8D6;
$wri: #618341;

li.des, .des h1, .des h2 {
  background: $des;
}

li.dev, .dev h1 {
  background: $dev;
}

li.run, .dev h1 {
  background: $run;
}

li.wri, .wri h1 {
  background: $wri;
}

.content-header {
  border-top: 2px solid;
}

.des {
	.content-header {
		border-color: $des;
	}
	em {
	  color: $des;
	}
}
