<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="cleartype" content="on">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sanchez:400italic,400">
		<link rel="stylesheet" href="/c/mp.css">

		<meta name="description" content="">
		<meta name="author" content="Matthew Pennell">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" href="/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="/i/57.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/i/72.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/i/114.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/i/144.png">

</head>

<body>

