html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #eee;
    color: #111;
    font: 18px/30px "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-top: 316px;
}

p, ol, ul, dl {
    padding: 0;
    margin: 0 0 10px;
}

article {
    margin-bottom: 142px;
    position: relative;
}

a, a:link, a:active {
    color: #C03374;
}

a:visited, a:hover {
    color: #6F4DD4;
}

.content {
    margin: 0 366px;
}

.content:after {
    background: url(/i/bottom-right.png) no-repeat 100% 100%;
    bottom: 0;
    content: "";
    position: fixed;
    right: 0;
    height: 475px;
    width: 345px;
}

.content h2, .site-name {
    font: 18px/30px "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0 0 10px;
}

.site-name {
    margin-bottom: 306px;
}

.permalink {
    position: relative;
    left: -31px;
    margin-bottom: -30px;
    text-decoration: none;
    display: none;
}

article:hover .permalink {
    display: block;
}

.eye {
    width: 80px;
    height: 80px;
    margin: 50px 14px -50px -100px;
}

.site-strap {
    border-left: 102px solid #F4DD4B;
    font: italic 14px/10px "Times New Roman", serif;
    padding-left: 10px;
    margin-top: 10px;
}

.links {
    position: fixed;
    top: 0;
    left: 0;
    width: 102px;
    background: url(/i/top-left.png) no-repeat 0 0;
    height: 452px;
}

.links ul {
    list-style: none;
    width: 102px;
    padding-top: 30px;
}

.links a {
    margin-bottom: 30px;
    display: block;
    background: url(/i/icons.png) no-repeat;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding-left: 32px;
    margin-left: 35px;
    white-space: nowrap;
    filter: grayscale(100%);
}

.links:hover a {
    filter: grayscale(0%);
    transition: filter linear 1s;
}

.twitter a         { background-position: 0 0; }
.medium a          { background-position: -128px 0; }
.github a          { background-position: -64px 0; }
.last-fm a         { background-position: -96px 0; }
.instagram a       { background-position: -32px 0; }
.amazon-wishlist a { background-position: -160px 0; }

footer {
    font-size: 11px;
    color: #999;
}

@media only screen and (max-width: 1200px) {
    .content {
        margin-right: 30px;
    }
    .content:after {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 0;
        font-size: 14px;
        line-height: 20px;
    }
    .site-name {
        margin-bottom: 60px;
    }
    .site-strap {
        border-left: 0;
        border-bottom: 10px solid #F4DD4B;
        padding: 0 0 10px;
    }
    .eye {
        display: block;
        margin: 0 auto 20px;
    }
    .content {
        margin: 30px;
    }
    .links {
        display: none;
    }

}
