html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f6f6f6;
    color: #121212;
    font: 18px/30px "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.content {
    margin: 0 366px;
}

.content:after {
    background: url(/i/bottom-right.png) no-repeat 100% 100%;
    bottom: 0;
    content: "";
    position: fixed;
    right: 0;
    height: 475px;
    width: 345px;
}

.content h2, .site-name {
    font: 18px/30px "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0 0 10px;
}

.site-name {
    margin-top: 314px;
}

.eye {
    width: 80px;
    height: 80px;
    margin: 50px 14px -50px -100px;
}

.site-strap {
    border-left: 102px solid #F4DD4B;
    font: italic 14px/10px "Times New Roman", serif;
    padding-left: 10px;
    margin-bottom: 288px;
}

.links {
    position: fixed;
    top: 0;
    left: 0;
    width: 102px;
    background: url(/i/top-left.png) no-repeat 0 0;
    height: 452px;
}

.links ul {
    list-style: none;
    padding: 0;
    width: 102px;
    text-align: center;
}

.links li {
    margin-bottom: 30px;
    font-size: 14px;
}