---
layout: default
title: Logos | matthewpennell.com | UX trouvé
category: logos
---

<ol class="posts js-masonry" data-masonry-options='{ "columnWidth": 300, "itemSelector": "li" }'>
	<li class="empty" style="height: 40px;"></li>
	<li class="empty" style="height: 60px;"></li>
	<li class="empty" style="height: 20px;"></li>
	{% for post in site.posts %}
		{% if post.categories contains 'logos' %}
			<li class="post {{ post.category }}" style="background-image: url(/i/{{ post.image }}); height: {{ post.height }}px;">
				<div class="links">
					<a href="/{{ post.category }}/" class="category">
						{{ post.category }}
					</a>
					<a href="{{ post.url }}" class="title">{{ post.title }}</a>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ol>
