<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} &#0183; {{ site.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/c/site.css">
        {% feed_meta %}
        {% seo %}
    </head>

    <body>

        <div class="content">
            <h1 class="site-name">
                <img class="eye" src="/i/eye.png" alt="" />
                {{ site.title }}
            </h1>
            <div class="site-strap">A blog of acquiescent temper, miscellaneous opinions, and uncertain vote</div>
            {{ content }}
        </div>

        {% include links.html %}

    </body>

</html>
