---
layout: default
---

<div class="post-info">

	<div class="post {{ page.category }}" style="background-image: url(/i/{{ page.image }}); height: {{ page.height }}px;">
		<div class="links">
			<a href="/{{ page.category }}/" class="category">
				{% if page.category == 'ux' %}<acronym>{% endif %}
					{{ page.category }}
				{% if page.category == 'ux' %}</acronym>{% endif %}
			</a>
			<a href="{{ page.url }}" class="title">{{ page.title }}</a>
		</div>
	</div>
	
	<p class="meta">Posted: {{ page.date | date_to_string }}</p>
	
</div>

<div class="article">
	{{ content }}
</div>
